[2021-04-21 11:24] darkship opened #15 "display a loader component"
Hi,
Would it be possible to add a delay before the mock returns?

[2021-04-22 02:36] simondib opened #17 "immer security vulnerability"
![image](https://user-images.githubusercontent.com/7483506/115647568-5b151780-a367-11eb-9f16-238d54746726.png)

storybook-addon-mock@^0.1.0:

 https://www.npmjs.com/advisories/1603

[2021-04-26 13:45] angelod1as opened #18 "Display modernized example"
The available example is written using an old Storybook API. Is it possible to give an example using modern API. Eg using:

[code]

and so on?

[2021-04-28 00:52] protoEvangelion commented on #18
This worked for me:

[code]

[2021-04-28 11:15] angelod1as commented on #18
nice example, @protoEvangelion! Sadly it still isn't on the latest format.

[2021-05-06 08:42] #17 closed

[2021-05-09 11:54] #18 closed

[2021-05-19 19:56] grinsteindavid opened #22 "[bug] Global http requests"
Hi, whenever I do a http request from a component that does not use this plugin in its story, then the response fails

something like this fails :

const response = await fetch(`${url}?r=${Math.random()}`).then(response => response.blob())

the stack errors said it was faker.js from this module, so I would prefer an option from parameters to enable this instead of being registered globally and pre

[2021-05-21 08:02] nutboltu commented on #22
@grinsteindavid do you have any sandbox where you can reproduce the issue? Also It would be great if you share the stack trace as well. :)

[2021-07-09 00:05] nutboltu opened #25 "Migrate react and react-dom to dev dependencies according to the storybook docs"
https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-peer-dependencies

[2021-07-09 00:06] #25 closed

[2021-07-10 22:41] nutboltu opened #29 "Make the response editable and add status as an input"

[2021-07-10 22:42] nutboltu opened #30 "Add pagination in the Mock panel"

[2021-07-29 14:44] #29 closed

[2021-08-12 09:32] xero88 opened #36 "[Bug] Unexpected MODIFIER at 35, expected END"
I'm trying to mock, but i got error

`Unexpected MODIFIER at 35, expected END`

[code]

Here the code :

[code]

[2021-08-12 09:35] jimmy-leung-coherent opened #37 "Ambiguous warning message shown on console"
Hello. I notice that several warning messages unfortunately come with the application of this addon, and they even appear when the example storybook in this repository is started on my local. They can be reproduced once you
- clone the repo
- run `yarn && yarn storybook`
- open / reload for `http://localhost:6006/?path=/story/storybook-addon-mock-request--mocking-fetch-and-axios`

![Screenshot 202

[2021-08-12 13:44] nutboltu commented on #36
@xero88
This happens due to the port number in the URL. The faker method failed to parse URLs with the port number. I have labelled it as a bug. The fix will be in place soon.

[2021-08-13 17:43] mchill opened #39 "Error when fetch's init argument isn't set"
The second argument of `fetch()` is optional: https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/fetch#syntax

This addon's mocked `Request` object tries to access the `options.method` property without checking that `options` is set, and so throws an error if `options` is undefined.
[code]

[2021-08-14 06:34] schemata-issimo commented on #39
I'm having this same issue, causing react-refresh to to get stuck because of missing options parameter.

The pull request fixes it though, thanks!

[2021-08-14 11:50] #39 closed

[2021-08-14 11:51] nutboltu commented on #39
@mchill thanks for raising this issue and fix it in a short time. I am making few other changes and there will be a new version bump. I'll update you all soon.

[2021-08-14 12:44] nutboltu commented on #22
@grinsteindavid My assumption is this issue occurs as the previous version of `storybook-addon-mock` doesn't support **query parameters**.

You can use the version `1.1.0`. I am closing this issue. If it occurs again then we'll reopen it.

[2021-08-14 12:44] #22 closed

[2021-08-14 12:45] nutboltu commented on #36
@xero88 This issue is fixed in version `1.1.0`. Closing this issue.

[2021-08-14 12:45] #36 closed

[2021-08-14 12:46] nutboltu commented on #37
@jimmy-leung-coherent This issue is fixed in version `1.1.0`. Closing this issue.

[2021-08-14 12:46] #37 closed

[2021-08-14 12:46] nutboltu commented on #39
@mchill This issue is fixed in version `1.1.0`. Closing this issue.

[2021-08-15 01:47] schemata-issimo opened #41 "faker.js URL parsing"
Hi! Thanks for the quick merge, and I see there's more strictness on valid URLs. The issue being caused now is that hot module reload is sending just chunk.kdas83138rj3.js, rather than the fully qualified http://localhost:6006/chunk.kdas8312.js, which is then going straight into new URL(generated) and being rejected. Everything is working correctly if the withMock decorator is removed. It's also (

[2021-08-15 12:55] #41 closed

[2021-08-15 13:05] nutboltu commented on #41
The fix is released in version `1.2.0`

[2021-08-16 07:47] Skarbo opened #43 "1.2.0 package may have been published with 1.1.0 dist code"
Hey @nutboltu,

It looks like 1.2.0 dist folder contains 1.1.0 dist code.
Maybe 1.2.0 was published with the old dist folder.

At least `utils/faker~getNormalizedUrl` does not contain the new `baseUrl` support.

Anyways, nice plugin!

[2021-08-16 07:55] Skarbo commented on #43
While I'm on it; React devtools gives out a React JSON editor warning:

[code]

[2021-08-16 13:02] nutboltu commented on #43
@Skarbo you are right. I have mistakenly released the same dist for 1.2.0. I have depreciated this version and the new code will be found in `1.3.0` version.

FYI, `react-json-editor-ajrm` warning is also fixed.

[2021-08-16 13:02] #43 closed

[2021-08-17 12:12] bt opened #44 "Response customization based on request data"
Hi there,

Great addon -- I've been using it to mock a couple of views for the design team to work on making pretty before the application is ready to go live.

I have a question though, would it be possible to return different mock data depending on the request? For example, I have a `/data` endpoint but depending on what is passed in the JSON request, it returns a different dataset response.

Th

[2021-08-18 00:14] nutboltu commented on #44
@bt  Unfortunately, in the current version, we didn't map the response with the request data. So whatever the request would be it doesn't matter, it cares about the URL path and the status code.

But you can change the response from the panel. One of the options would be, whatever the request you passed, just change the response from the panel. you will see the result.

[2021-08-18 01:00] bt commented on #44
Ah that's unfortunate. It's a bit more complicated for me because my React component makes 4 calls to load data but with 4 different request payloads. Also, there's no button on the component to let me "refresh" the data so the idea of using the panel won't work.

Would this addition be hard to add? I had a quick look at the source and I think I'd know how to do it, but I feel like the panel would

[2021-08-18 01:46] nutboltu commented on #44
@bt Feel free to raise a PR with the feature. I will also spend time onto it. Will give you the update soon

[2021-09-01 06:58] ketain commented on #15
Logged in just to second this. Would allow to simulate progressbars/circles and the like.

[2021-09-09 06:55] ketain commented on #15
Nice! Thanks for your hard work. Didn't think it would happen so fast.

[2021-09-09 06:56] ketain commented on #15
This thanks naturally applies to @schonert as well, if that wasn't clear. :)

[2021-09-10 18:28] carloschneider opened #50 "Query parameters"
First of all, thanks for your addon.

I'm using your addon for a few days, and I have a scenario where I pass some query parameters based on select options. So depending on what option is selected I'll pass a different parameter to the query string. That way I'll need to set many different items in the `mockData` to the same API url.

I believe that the addon should ignore the query string passed.

[2021-09-15 19:41] nring opened #51 "Does @emotion/styled need to be a dependency?"
It seems as though `styled` is used in 4 places in the source code. Is it possible to drop this dependency and style those components with another CSS technology that doesn't need a large CSS-in-JS library?

[2021-09-15 23:55] nutboltu commented on #51
This is a valid point we can sort it out using React stylesheet. any PR welcome.
I can work this issue later this weekend.

[2021-09-16 00:05] nutboltu commented on #50
@carloschneider there are some cases where we need to consider the query parameter to distinguish between two separate calls. If we ignore the query string, it will lose the functionality of a specific URL.

In your case, one possible solution would be what you mentioned. You can create multiple `mockData` for multiple query parameters. It's also good to separate the concern.

Any other solution w

[2021-09-16 02:36] jfarris587 commented on #50
@nutboltu can there be a solution similar to how cypress handles fixtures? where the url can accept glob patterns at the end, and/or regex to determine a match in the url?

just because some may want different mock data per query param doesn't mean all do.

[2021-09-16 02:36] carloschneider commented on #50
An alternative is add a parameter like: `queryString: false` as the same way that you have the `delay` parameter for each request.

[2021-09-17 13:15] nring commented on #51
Thanks for responding! Do you mean something like this?
[code]

[2021-09-17 14:02] nutboltu commented on #51
@nring yes this!

[2021-09-17 14:03] nutboltu commented on #50
@jfarris587 I might need to look at how cypress handles such a pattern. But any PR is welcome 😃
@carloschneider `queryString: false` might be an alternative but if we can handle it using regex pattern in the URL that would be more standard way.

[2021-09-17 19:51] nring commented on #51
PR opened: #52

[2021-09-18 02:09] carloschneider commented on #50
@nutboltu Sorry, I've take a look into the code, and you already check the parameters excluding values, just the keys. I'll close this issue for now. Thank you.

[2021-09-18 02:09] #50 closed

[2021-09-21 13:34] nring commented on #51
Fixed by #52

[2021-09-22 12:18] prewk opened #54 "Wildcards in url?"
Thanks for a great addon!

I'm trying to dig up whether I can use some wildcard features in the url (or "match strategies")... any pointers or straight *no*?

My problem is that I have a `/api/foos` url that's paginated like this `/api/foos?skip=0&limit=20&dir=desc&sort=blabla` which is a bit flaky and tedious in my simple Storybook test where I just wanna control what's returned, no matter the qu

[2021-09-22 14:06] nutboltu commented on #54
This package supports

You can easily achieve this by passing query parameters with any value. This package won't check the value of the params but check the keys to match.

```/api/foos?skip=anything&limit=anything&dir=anything&sort=anything```

The above should work for you. then you can modify the response with your desired value.

[2021-09-22 14:23] prewk commented on #54
Ahh I misinterpreted the instructions, thanks a lot!

[2021-09-22 14:23] #54 closed

[2021-10-07 18:40] TravisBernard opened #58 "mockData.response presumes a JSON response body"
See here: https://github.com/nutboltu/storybook-addon-mock/blob/e239420f1971a0e1fd5a77ededce4896978d9a91/src/components/RequestItem/index.js#L142

Since response must be either an object or an array it's basically presuming a JSON response body.

That makes it impossible to mock a data stream, SOAP, or other types of APIs that aren't strictly REST+JSON.

Would you be open to accepting a PR to also

[2021-10-27 17:38] DangerStu opened #59 "response.data returned as response.data.data"
Great plugin, but I have an issue, here is my mock data:
`mockData: [
    {
      url: 'https://team?search=&detail=light',
      method: 'GET',
      status: 200,
      response: {
        data: [
          {
            id: '7238d186-7cbb-4129-b100-804302ae8c89',
            email: 'Lea.Thompson@gmail.com',
            first_name: 'Lea',
            last_name: 'Thompson'
          },
          {

[2021-11-05 01:27] nutboltu commented on #59
@DangerStu I have used your sample mock data. It appears you are using `axios` and if you look at the [example code](https://github.com/nutboltu/storybook-addon-mock/blob/master/stories/example.stories.js#L89), you will see axios return the response body as `response.data`.

[2021-11-05 01:28] #59 closed

[2021-11-05 09:00] ketain opened #60 "Incompatibility with RTKQ"
I use RTKQ and noticed that response payloads set in storybook-addon-mock are returned as undefined in RTKQ.

I debugged the issue and found that this line in RTKQ is the culprit:
![image](https://user-images.githubusercontent.com/9215393/140484233-00a11218-7b37-4f59-9226-18cb5301a5b3.png)

As you can see, RTKQ assumes the response to be a string, since it is an object it does nothing and returns

[2021-11-05 16:34] DangerStu commented on #44
Any update on this feature ?

[2021-11-07 09:11] nutboltu commented on #60
@ketain thanks for raising the issue. I will this feature in the next release.

[2021-11-07 11:10] nutboltu commented on #44
@DangerStu to get more clarity, does the API contain `named parameters` or `query parameters`?

[2021-11-07 15:46] DangerStu commented on #44
@nutboltu I just raised a PR for `query parameters`

[2021-11-07 18:13] carloschneider opened #62 "Problem with mock change and play/pause button"
I was facing a problem with mock change on storybook page ("mock request" addon tab), then digging into the code I've found this:

In this file the parameters are passed separated.

https://github.com/nutboltu/storybook-addon-mock/blob/e239420f1971a0e1fd5a77ededce4896978d9a91/src/manager.js#L21-L27

And here the parameters are received in the same way.

https://github.com/nutboltu/storybook-addon-

[2021-11-08 07:50] ketain commented on #60
After a bit more debugging I could figure out that, when using storybook-addon-mock the response objects are looking drastically different:
![image](https://user-images.githubusercontent.com/9215393/140702458-f7d19568-9e02-4dbe-bf0a-64b9cdd98720.png)

Usually, sending the same request regularly, it looks like this:
![msedge_Vd2oj1OryW](https://user-images.githubusercontent.com/9215393/140702654-f5

[2021-11-11 01:13] nutboltu commented on #62
@carloschneider as you raised a PR for this issue, can you please also check if your changes work for storybook v6

[2021-11-11 01:18] carloschneider commented on #62
@nutboltu could you share the source code of GH Page?

[2021-11-11 01:20] nutboltu commented on #60
@ketain looking at the actual response, I can say it returns a ReadableStream instead of JSON format. Currently, this addon only supports JSON as a response.
It's in my pipeline to add these different response time in the future.

[2021-11-11 02:42] carloschneider commented on #62
@nutboltu sorry, my bad, I've run `yarn storybook` locally and works perfectly. Do you want me to change the package version?

[2021-11-11 08:58] nutboltu commented on #62
It would be great if you can check the other version. But it's optional. Let me know what you prefers.

[2021-11-11 09:30] NicolasBonduel opened #64 "Problem with multiple mocks in the same story."
I am trying to mock multiple requests for the same component, such as:

[code]

It seems that only the latest mockData of the array is used, and the other ones are ignored. Am I doing something wrong?

[2021-11-11 12:56] carloschneider commented on #62
@nutboltu I've checked both versions 5 and 6. Version 5 is running on my project. To test with version 6 I've run `yarn storybook` in the addon repository. Works fine in both versions.

My question above is about the package version, should I bump the version in my PR?

[2021-11-11 22:14] stephenhebert opened #65 "Support for other verbs (Patch, Delete)"
Is support for other HTTP verbs, like PATCH or DELETE, in the roadmap?

Thank you!

[2021-11-12 11:29] adamgilmour commented on #64
Yep, I'm experiencing the same issue

[2021-11-12 12:46] NicolasBonduel commented on #64
I found the issue and fixed it in the PR above.

An easy way to fix it in the meantime is to set the method in each mockData. On my example, it would be:

[code]

@adamgilmour, this might be interesting for you.

[2021-11-15 02:40] nutboltu commented on #62
@carloschneider Let's keep the version as it was before. I was asking to check both versions which you have covered.

[2021-11-15 02:43] #64 closed

[2021-11-15 03:11] carloschneider commented on #62
@nutboltu thank you, I'll be waiting for the release.

[2021-11-15 04:22] nutboltu commented on #62
@carloschneider the change reflects on version `1.7.0`

[2021-11-15 04:23] nutboltu commented on #64
@NicolasBonduel the change reflects on version [1.7.0](https://github.com/nutboltu/storybook-addon-mock/releases/tag/1.7.0)

[2021-11-15 04:23] #62 closed

[2021-11-19 10:10] AlexandreSi opened #69 "Remove Mock request panel on stories that do not use it"
HI there,

Thank you for your work on this addon!

Here is my code:

[code]

Note: This is the unique part of my code where I use `withMock`.

Here is what happens to me:

https://user-images.githubusercontent.com/32449369/142604425-e7a6d8a8-841b-4fe3-b17f-69910f1fa7fa.mov

I feel like the panel, and the mock, should disappear when switching to a component that is not decorated with `withMock`.

[2021-11-19 10:15] AlexandreSi opened #70 "Suggestion: Refresh component when pausing/activating requests mocking."
Hi!

Could it be possible to add an option so that, when pausing/activating requests mocking, the story is refreshed.
It would be very convenient for a React component that implement such hooks:

[code]

[2021-11-19 16:49] ookadoo opened #71 "Non-Mock Requests Missing Headers"
I have stories that do not use this addon which stopped working after I installed it.  It appears the headers are being stripped when going to the destination.  These are headless CMS requests and I don't want to mock them.

If someone can point me to the passthrough portion of the code, I'd be glad to try and submit a PR.

[2021-11-24 10:59] midwhite commented on #58
One of my APIs responds a number as body.

![スクリーンショット_2021-11-24_19_55_21](https://user-images.githubusercontent.com/14773605/143225733-1addb64c-9dd6-4fe0-b531-52ec251e9774.png)

This causes following error only in production env:

[code]

![スクリーンショット_2021-11-24_19_57_07](https://user-images.githubusercontent.com/14773605/143225905-5d60cdc9-0c97-499b-a273-445536718347.png)

I hope that values exc

[2021-11-24 13:24] nutboltu commented on #58
@midwhite these changes will be released by end of this week. I'll update you accordingly

[2021-11-25 06:41] yhjhoo opened #72 "Doesn't support web-component based storybook"
I got following error

[code]

[2021-11-28 00:22] nutboltu commented on #44
This issue is addressed in the new major version [2.0.0](https://github.com/nutboltu/storybook-addon-mock/releases/tag/2.0.0).

We have introduced a response function that contains the request object as a parameter. So you can change the response depending on the request payload.

[code]

@bt @DangerStu

[2021-11-28 00:22] #44 closed

[2021-11-28 00:25] nutboltu commented on #58
@midwhite This issue is addressed in the new major version [2.0.0](https://github.com/nutboltu/storybook-addon-mock/releases/tag/2.0.0).

[2021-11-28 00:26] nutboltu commented on #65
@stephenhebert This issue is addressed in the new major version [2.0.0](https://github.com/nutboltu/storybook-addon-mock/releases/tag/2.0.0).

[2021-11-28 00:26] #65 closed

[2021-11-28 00:32] nutboltu commented on #60
@ketain  In [2.0.0](https://github.com/nutboltu/storybook-addon-mock/releases/tag/2.0.0), We have introduced a new feature where the response can be a function and you can customize your response from the function as below
[code]

[2021-11-28 00:36] nutboltu commented on #69
@AlexandreSi This panel is registered at the beginning of the storybook config. If we want to hide it we have to do the re-registration every time there's a `withMock` decorator. This would be a costly approach. Do you have any other option?

[2021-11-28 00:41] nutboltu commented on #71
@ookadoo would you please provide a reproducing code snippet so that I can check what's the actual issue?

[2021-11-28 00:42] nutboltu commented on #72
@yhjhoo would you please elaborate on the issue with more context?

[2021-11-30 07:25] midwhite opened #75 "TypeError: Failed to construct 'URL': Invalid URL"
I found an error after upgrading `storybook-addon-mock` to v2.0.0.

[code]

![スクリーンショット 2021-11-30 16 19 19](https://user-images.githubusercontent.com/14773605/144002923-2f9d84d6-a40d-49fd-ae54-19f63e00603f.png)

I passed following object as parameters:

[code]

This worked before upgrading the version. (was v1.7.0)

## memo
- I tried to change the url to `http://localhost:3000/news/unread_count`

[2021-11-30 07:26] midwhite commented on #58
@nutboltu Thank you for releasing :D

I tried to upgrade to 2.0.0 but I found an following error 😢
detail: https://github.com/nutboltu/storybook-addon-mock/issues/75

[2021-11-30 09:14] #75 closed

[2021-11-30 09:18] nutboltu commented on #58
@midwhite thanks for pointing the issue.  [2.0.1](https://github.com/nutboltu/storybook-addon-mock/releases/tag/2.0.1) has the fixed version.

[2021-11-30 13:26] #58 closed

[2021-12-01 05:15] midwhite commented on #58
@nutboltu Thank you for immediate fix :D
I upgraded to v2.0.1 and succeeded in mocking the response body with a number via function like:

[code]

[2021-12-06 09:18] AlexandreSi commented on #69
Hi @nutboltu, thank you for your reply!
I'm fine with the tab Mock Request present on every story, but I feel like that, if the content of the tab is present everywhere (for example in the component CommandPalette in my video), it would give the user the idea that mocking a request on this story would change something, although it doesn't.
But I don't know if it would be costly.

[2021-12-07 20:15] NicolasBonduel opened #77 "Break when using `XMLHttpRequest` directly"
I am using this pattern, for lightweight and compatibility reasons:

[code]

When using `storybook-addon-mock`, xhr.response is a JSON object, while the native version returns a string - that I later run through JSON.parse.

I understand that my use-case is the large minority, as there is very little reason to be using both XMLHttpRequest and Storybook. I won't extend the reasons I am using XMLHtt

[2021-12-07 22:16] nutboltu commented on #77
@NicolasBonduel, In the latest version(2.0.1) of  `storybook-addon-mock`, you can use the response as a function instead of a JSON object and the custom function can return `string`.
[code]

[2021-12-10 09:51] NicolasBonduel commented on #77
Hello @nutboltu,

I tried to do as you explained, but I get an error from storybook.

<img width="1353" alt="image" src="https://user-images.githubusercontent.com/6507454/145552387-31b0333c-d82c-472f-9073-ece27b33eae6.png">

With those settings:
[code]

[2021-12-14 20:51] carloschneider opened #78 "Ignore url params (query string)"
I've a scenario where I need generate dynamic url params, like:

`?person[0][name]=John+Doe&person[1][name]=Hello+World`

When I set the `mockData` I need mock the parameters too. That way I've got an error when the mock is different from the URL mock: `net::ERR_NAME_NOT_RESOLVED`.

A solution would be to create an option to disable the query string check.

[2021-12-21 04:26] vinujan59 opened #80 "`request.body` is being `null` when custom `response` function used"
**Scenario**

Fetch API call is being executed via rtk query, where the body is passed as `FormData`

I can observe the fetch function being executed and faker.js [mockFetch](https://github.com/nutboltu/storybook-addon-mock/blob/master/src/utils/faker.js#L108) as well. But the `request.body` is null

![image](https://user-images.githubusercontent.com/11666269/146870881-ed7c0d59-c3b5-4201-aa53-9288

[2021-12-26 13:03] nutboltu commented on #80
@vinujan59 did you use the custom function to return a FormData?

[2021-12-26 22:38] nutboltu commented on #78
@carloschneider this is a special case, where we have to ignore the query parameters. In this scenario, it would be good if we used an asterisk(*) in the URL path to ignore them. Like below
[code]

In the package, we are using `pathtoregexp` package to match the paths. I would recommend trying [this](https://github.com/pillarjs/path-to-regexp#zero-or-more) approach to resolve this issue.

As this

[2021-12-27 00:19] carloschneider commented on #78
@nutboltu Using `*` doesn't work https://runkit.com/embed/uqis3n6q1qt6.

The code just tests `path` with `path-to-regexp`. The query string is tested separated.

https://github.com/nutboltu/storybook-addon-mock/blob/8705e8ba31eabcf5117e918c509a79ea345f1582/src/utils/faker.js#L86-L89

[2021-12-29 02:33] nutboltu commented on #78
The idea is to replace with `match` function with the `exec` function which supports the `*`. ATM, I haven't managed time to look into this implementation during this holiday. Hope to start working on this feature early next year.

But any PR will be welcomed 💯

[2021-12-30 02:21] vinujan59 commented on #80
@nutboltu thank you for the quick reply. My use case was, I am trying to mock an API that consumes FormData. In the custom function, I am trying to consume the formData and trying to come up with a response.

[2022-01-05 17:17] josead opened #83 "Relative url paths fallback to localhost/..."
### Hello! Happy 2022!
I'm having an issue when using addon-mock on github pages. I'll try to explain here the situation;

- Local storybooks is running on http://localhost:7007 (default)
- Production storybooks is running on http**s**://storybooks.mycompany.com under github pages

When doing stuff on local, the mock works fine because the API call is made to localhost:3000. So this works on local

[2022-01-09 23:38] nutboltu commented on #83
@josead

this tests is saying that given a relative path it will always expect localhost to be the origin? So is not possible to host storybook's elsewhere and mock requests

Currently, if there's a relative path we replaced it with the localhost. The reason behind this, is we need a valid URL to parse the query parameters. One of the solutions would be to replace `http://localhost` with `window.l

[2022-01-09 23:42] nutboltu commented on #80
@vinujan59 what are the return object in your custom function? Can you provide a code snippet or any reproducible code sample?

[2022-01-09 23:46] #60 closed

[2022-01-09 23:47] nutboltu commented on #30
not relevant anymore!

[2022-01-09 23:47] #30 closed

[2022-01-11 21:04] Myzel394 commented on #77
Facing the same issue, did you find a solution @

[2022-01-11 21:15] NicolasBonduel commented on #77
No @Myzel394 , not besides the workaround from my original message. I haven't looked into it too much either.

[2022-01-12 00:41] nad182 commented on #54
I've got a question related to this: how to use wildcards in more complex (dynamic) URLs? I'm trying to intersect/mock a URL sent to Google Maps API, which looks like this:
https://maps.googleapis.com/maps/api/place/js/AutocompletionService.GetPredictionsJson?1sQUERIED_STRING&4sen-CA&15e3&21m1&2e1&callback=_xdc_._amopoh&key=API_KEY&token=12345
As you can see, these are not simple query params, lik

[2022-01-18 19:08] Myzel394 opened #86 "`requestPath matched false`"
Using this configuration:

[code]

I always get this error:

![image](https://user-images.githubusercontent.com/50424412/150002461-df606ae2-bd36-44e6-87bf-00c2ae7c5fa9.png)

The requests don't get mocked and are sent out

Seems like the urls are not mocked correctly

[2022-01-26 10:19] dingjules opened #87 "Missing POST body when sending real requests instead of mocks"
Thank you for the great plugin!

It seems that the plugin will catch all requests in storybook once it's registered, no matter if it's configured in a specific story.
In case when we have also stories using real endpoints (XMLHttpRequest), the POST body is ignored by the plugin.

[2022-01-27 00:29] mchill opened #89 "Response text() returns object instead of text"
### Description

I'm having an issue with the faked response type. Specifically, the `text()` and `json()` methods both return the response object, when [Response.text()](https://developer.mozilla.org/en-US/docs/Web/API/Response/text) should return a string to be compliant with the API.

This is a problem when using this library with RTK Query, for example. For some reason, they read the `text()`

[2022-01-27 22:46] charlesgivens commented on #71
There may be some validity to this. When I don't have mocks implemented, everything works fine. As soon As I mock a request, a bunch of unrelated requests start to fail. They never make to my network tab so I can't give any data.

[2022-01-28 14:36] charlesgivens commented on #71
A way to test this is to create a promise that makes 2 separate api requests on inside the other(This is not uncommon with api that perform a separate Auth api calls. Only mock one of them in your story. This should give the same bug.

[2022-01-30 12:20] nutboltu commented on #89
@mchill Thanks for the solution. just a short note, as Response.text() always returns a [string](https://developer.mozilla.org/en-US/docs/Web/API/Response/text#return_value) , we can directly return the JSON.stringify.

[code]
Please feel free to raise a PR. 😄
[code]

[2022-01-31 23:58] #87 closed

[2022-02-01 16:57] shedali commented on #60
@ketain did you manage to get this to work? I have not been able to get this addon to work with RTQ despite using the new return function

[2022-02-01 22:29] #89 closed

[2022-02-08 13:07] nutboltu commented on #77
@Myzel394 @NicolasBonduel From version `2.1.0` we support string in the response.text() https://github.com/nutboltu/storybook-addon-mock/pull/90

would you please check if it resolves your issue?

[2022-02-08 13:13] nutboltu commented on #86
@Myzel394 looking at the second url, it's not a valid url. and considering the first url, can use just use the relative path?

[2022-02-11 11:19] edoroshenko opened #94 "Unexpected console output"
The package unconditionally outputs the following:
[code]
The package downloaded from the `npm` contains the following code:
[code]

I've checked the source code, there's no output there. I've cloned the repo and built it locally, there's no output as well.
Did it appear by mistake, or for a purpose?
Thanks in advance.

[2022-02-11 13:10] nutboltu commented on #94
@edoroshenko can you please share which version have you used?

[2022-02-11 16:12] mz921 commented on #94
I used 2.1.0 and have the same problem.

[2022-02-11 19:14] edoroshenko commented on #94
I used the same

[2022-02-14 10:32] dingjules opened #95 "Wrong package published for 2.1.0"
Hey, it seems that the 2.1.0 package is the same as 2.0.2. Is there any chance that the wrong package was published?

According to this tool, the only difference between these two versions is the version bump.
https://diff.intrinsic.com/storybook-addon-mock/2.0.2/2.1.0

[2022-02-16 13:46] nutboltu commented on #95
@dingjules I have marked version 2.1.0 as deprecated and released 2.3.0 with the latest changes.

https://diff.intrinsic.com/storybook-addon-mock/2.0.2/2.3.0

Thanks for pointing this out. really appreciate it.

[2022-02-16 13:46] #95 closed

[2022-02-16 13:57] nutboltu commented on #94
`2.1.0` is a faulty version and is already marked as deprecated. Please upgrade to `2.3.0` the latest version. This console log is removed.

[2022-02-16 13:57] #94 closed

[2022-02-16 15:24] chainalert-bot opened #97 "ChainAlert: npm package release (2.2.0) has no matching tag in this repo"
Dear [storybook-addon-mock](https://npmjs.com/package/storybook-addon-mock) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (2.2.0) of [storybook-addon-mock](https://npmjs.com/package/storybook-addon-mock) was published without a matching tag in this repo**.

Our service monitors the open-source ecosyste

[2022-02-16 15:53] #97 closed

[2022-02-19 13:03] fantun3s commented on #71
I am having a similar issue but in my case, both the headers and the body of requests performed on stories that don't use the storybook-addon-mock are getting removed

[2022-03-08 01:54] walmik opened #100 "requestMap is empty if using mdx based custom docs"
I m facing a strange issue where using a custom mdx doc fails to run the faker on the requests. As soon as I remove the custom doc, it continues to work as expected.

Example code

[code]

From the above if I remove the `docs` param, the faker continues to work as expected

[code]

My mock data is set on the story template itself

[code]

Can you please advise what I could be missing?

[2022-03-08 11:46] carloschneider commented on #78
@nutboltu you right.

What if we remove that params validation line?

https://github.com/nutboltu/storybook-addon-mock/blob/aa49c2245d57f9d305a421bfa64c2b9c0e93a235/src/utils/faker.js#L88

[2022-03-11 10:08] synchronos-t commented on #71
I seem to have a similar issue. If I just import storybook-addon-mock, another request not using it fails, because it stops making the CORS preflight with OPTIONS, and then for some reason it makes the actual POST with incorrect Accept header, which makes the backend respond with 415. When I remove the storybook-addon-mock import, it starts working again.

[2022-03-16 11:43] Bangybug commented on #71
I have the same issue with storybook-addon-mock. I traced it down to storybook-addon-mock/src/utils/faker.js

See how it handles unmatched requests in mockXhrRequest method:
[code]

As you can see, the headers are not being sent with realXhr. Headers are accessible via xhr.requestHeaders, so it should be really simple fix.

[2022-04-05 18:34] liron-navon opened #101 "allow some requests to pass through?"
I'm using graphql and I need to only mock a few requests while letting the rest hit the server, so for example:

/graphql - with specific body should be mocked
/graphql - all the rest should not be mocked

can we add some kind of matcher for the body to allow to only mock some requests and allow others to pass through?

[2022-04-06 12:08] Sjeiti commented on #80
Not sure if this is the same issue but I've setup a simple example here https://github.com/Sjeiti/storybook-addon-mock-post-body-issue

The app has a button for a GET and a POST.
Pressing it will log the request data in the CLI running ExpressJS.

Served through Angular CLI the request body contains a value.

Served through Storybook the request body is empty.

We use Storybook for development, do

[2022-04-15 22:18] Thinjon100 opened #103 "Progress events on upload"
It appears that mock-xmlhttprequest supports emitting progress events on mocked upload requests (via the .uploadProgress(number) method).
Currently, a full 100% progress event is emitted at the end of the response.  If a delay is specified, would it be possible to emit a few progress events at regular intervals before the call to .respond() so we can simulate progress events during a large file up

[2022-04-18 01:26] nutboltu commented on #101
This is a special case and implementing this feature may break the core functionality of the addon. I would suggest mocking all the endpoints ATM.
TBH, this is not in the current roadmap. But I would consider it later.

[2022-04-26 21:38] jason-chen-kiewit opened #104 "React v18 `npm install` package dependency compatibility"
Hi there!

My project has recently upgraded to React v18 and I am currently running into a `ERESOLVE unable to resolve dependency tree` error when I try to `npm install storybook-addon-mock`. It does work if I add the `--legacy-peer-deps` flag, but ideally I'd like to avoid using it.

![image](https://user-images.githubusercontent.com/79943064/165395174-a94afd41-cd19-46ea-9360-2c94a2613c8e.png)

A

[2022-04-27 10:31] #104 closed

[2022-04-27 10:41] nutboltu commented on #104
@jason-chen-kiewit This issue is fixed in [2.3.2](https://github.com/nutboltu/storybook-addon-mock/releases/tag/2.3.2)

[2022-04-27 16:29] jason-chen-kiewit commented on #104
Amazing ty!

[2022-04-27 20:09] lukvermeulen opened #107 "Usage with swr"
Hey, this looks like an awesome utility!

This also works out of the box when using `fetch` directly, however it appears to not work with my usage of [swr](https://swr.vercel.app/).

What would be the best approach to debug this and see why this is not working?

Thanks in advance!

### Some snippets for reference:

[code]

the useChannels hook:
[code]

[2022-05-15 13:19] GunsStarR commented on #107
Hi @lukvermeulen! Facing the same issue with send XHR through superagent. Did you find solution? Or used something else?

[2022-05-15 19:24] lukvermeulen commented on #107
Hey @GunsStarR, I ended up using "Mock Service Worker", after following this [article](https://blog.logrocket.com/using-storybook-and-mock-service-worker-for-mocked-api-responses/). It works quite well for me.

[2022-05-17 04:52] nutboltu commented on #107
@lukvermeulen I tried to run swr with `storybook-addon-mock` and it works properly. I have used their [basic example](https://swr.vercel.app/examples/basic) for testing.

Looking at your code, can you tell me which type of client is this? is it going to call a fetch or XHR request?

[code]

[2022-05-17 20:57] saulrobe commented on #78
Is there any progress on this?

[2022-05-18 07:38] nutboltu opened #109 "V3: Create a monorepo and spearate the docs and the addon into different packages"
This is a large feature. This issue is aimed at completing the following tasks
- create a monorepo with yarn workspaces
- move the addon and the docs into separate packages
- Move the readme into docs using storybook docs addon.
- Improve the docs
  - Introduction, Installation, and User guide
  - Examples should be split into different packages e.g fetch, Axios, superagent, SWR
  - How to contrib

[2022-05-26 09:56] neil-morrison44 commented on #71
I think this issue also breaks viewing Google Maps Vector maps within storybook when the plugin is being used

[2022-05-27 21:53] marcusmolchany opened #110 "Global mock decorator"
Is there a way to write a single `storybook-addon-mock` decorator (maybe in `.storybook/preview.js`) that applies to all of my stories?

I tried this in `.storybook/preview.js` and it did not work for me:
[code]

[2022-05-29 20:23] lukvermeulen commented on #107
Hi @nutboltu, my client is configured to use window.fetch.

[2022-05-30 07:03] tychovbh opened #111 "Not able to have mocked story and normal story"
I have a nextjs storybook project setup, with a laravel backend for authentication.

On every page I request the authenticated user: http://127.0.0.1:8000/api/user

This works perfect when I'm loggedin, but it is anyoning having to login everytime I start the project, so I mock the request. What also works perfect.

But my problem is, i'd like to have 2 stories:
1. Non mocked, so i can test the lo

[2022-05-31 11:45] nutboltu commented on #111
@tychovbh have you tried using the pause button to bypass mock data and use the actual api?
<img width="1460" alt="Screen Shot 2022-05-31 at 9 41 41 pm" src="https://user-images.githubusercontent.com/9896958/171165689-47eb29e4-8060-4d68-ae2e-45fec307363b.png">

[2022-05-31 12:10] tychovbh commented on #111
Hi @nutboltu thanks for the tip! But it seems I cannot disable this, because the story doesn't load properly because of the failed request:
<img width="1561" alt="Screenshot 2022-05-31 at 14 08 16" src="https://user-images.githubusercontent.com/5880561/171169748-b689282b-78b4-40a0-a165-4588080d39f7.png">

I can however switch to the mocked story, pause mock there, and then switch back to non mock

[2022-06-02 07:27] nutboltu commented on #111
@tychovbh looking at the error, it appears the issue is from `Access-Control-Allow-Origin`. From your backend, you have to allow any origin. like (`Access-Control-Allow-Origin: '*'`). It's more like a backend configuration issue than FE.

[2022-06-02 07:37] nutboltu commented on #77
Closing this ticket as this issue is fixed in #90

[2022-06-02 07:38] nutboltu commented on #72
@yhjhoo Closing this ticket due to inactivity.

[2022-06-02 08:35] tychovbh commented on #111
Looking at the headers helped, but it is actually not  a backend issue and also not cors related. I debugged the request in the API, and it is actually passing cors. The problem is that the moment I include this line:
`import withMock from 'storybook-addon-mock'`
All request headers are missing:

**Request without the withMock import**
<img width="629" alt="Screenshot 2022-06-02 at 10 20 56" src="

[2022-06-03 00:25] nutboltu commented on #111
@tychovbh thanks for the confirmation. A new update with fix will come soon.

[2022-06-03 04:52] nutboltu commented on #111
@tychovbh The issue is fixed in [2.4.1](https://github.com/nutboltu/storybook-addon-mock/releases/tag/2.4.1)

[2022-06-03 04:52] nutboltu commented on #71
The issue is fixed in [2.4.1](https://github.com/nutboltu/storybook-addon-mock/releases/tag/2.4.1)

[2022-06-03 04:52] #71 closed

[2022-06-03 04:52] #111 closed

[2022-06-03 04:56] nutboltu commented on #86
Closing this ticket as this is stale for a while.

[2022-06-03 04:56] #86 closed

[2022-06-03 07:02] tychovbh commented on #111
@nutboltu thanks a lot, i tested it and it works perfectly!

[2022-06-10 11:43] danielthedifficult opened #114 "bug: Having addon-mock installed breaks pass-through requests"
Hello team,

I'm having an issue where stories featuring an embedded video player (with Javascript) are not correctly loading.

I've updated to 2.4.1, as I was previously having an issue with the headers not being passed through correctly.

The stories I'm having an issue with do not have the "withMock" decorator imported or used, but other stories (that don't use the player) are using it.

If I c

[2022-06-10 19:55] carloschneider commented on #114
I'm facing some problems after updating to 2.4.1. The `catch` stops working, and I believe that it's related to the headers fix.

[2022-06-11 01:46] nutboltu commented on #114
@danielthedifficult can you please share the requests headers for the video player, with and without storybook-addon-mock?

[2022-06-11 01:47] nutboltu commented on #114
@carloschneider would you also share the specific case, with a bit more details.

[2022-06-11 12:21] danielthedifficult commented on #114
<details>
<summary>Header W/O storybook-addon-mock:</summary>
Main metadata request:

[code]

Content request:

[code]
</details>
<details>
<summary>Header WITH storybook-addon-mock:</summary>

[code]

Content Request:
[code]
</details>

Comparing them locally shows no differences...

[2022-06-11 19:11] carloschneider commented on #114
@nutboltu https://github.com/carloschneider/storybook-addon-mock/commit/049e286cf134cc5cc08812d3d8ce25d179bf41f8

The `console.error` in the `catch` doesn't run.

[2022-06-15 13:43] danielthedifficult commented on #69
I don't know if this is related to #114, but I wanted to suggest:
If there is a way to unload/remove the service worker or mocking library for stories that don't import/use this addon, that would solve #114 (for me anyway).

[2022-06-15 16:03] danielthedifficult commented on #114
@nutboltu I migrated our stories to use msw's storybook addon, as I didn't want/need the addon 'panel' for changing the responses in realtime, I just wanted to stub/mock simple pre-defined routes.

Also... it was breaking CI/CD tests that rely on stories rendering properly before pushing code to production 😬 .

msw is successfully mocking the routes I want, and the bypassed routes are working as i

[2022-06-16 02:44] nutboltu commented on #114
@danielthedifficult glad that you sorted out and it's a shame that this package couldn't fix the issue yet. As this package is moving to a major version(V3), I'll allocate some time to look into this issue. I believe @carloschneider has discussed some other issues. @carloschneider would you mind creating another issue if it persists?

I am closing this issue

[2022-06-16 02:44] #114 closed

[2022-06-27 03:52] JohnAlbin commented on #109
FYI, none of the tasks you mention in this issue require the docs to be separated from the addon using a monorepo.

Moving `.storybook` and `stories` into a `docs` folder would accomplish a similar "separation".

Monorepos are for combining multiple NPM packages into 1 git repo. And the docs aren't a NPM package. Why do you want to use a monorepo?

[2022-06-27 03:58] JohnAlbin commented on #109
Looks like this is being worked on in #112 so this discussion is probably moot

[2022-06-27 05:02] nutboltu commented on #109
@JohnAlbin thanks for raising your concern. I believe monorepo is not only for NPM packages but also to keep relevant repositories/projects into one and sometimes use the shared dependency. In this project, we have shared dependencies. Besides we are planning for a different approach to deploying storybook docs.

It won't. We want to separate the package dependencies. The packages required only fo

[2022-06-27 08:06] JohnAlbin commented on #109
Mixing development, testing and doc dependencies all inside `devDependencies` is pretty common. Only the addon's dependencies are inside the package.json's `dependencies` section, so they are already separated.

Just make sure you document the hell out of how to use yarn workspaces in this repo or you will severely limit the number of people who will be capable of contributing.

[2022-06-27 08:56] JohnAlbin opened #116 "Function-based mock response cannot change HTTP status"
I have a fetch endpoint that various authentication tasks and they all use the same URL; the endpoint returns different data depending on the request body.

In one story, I have a page component that needs to have the client credential request respond with HTTP 200 immediately followed by another endpoint request that should respond with HTTP 500.

Currently, each mocked endpoint can only respond

[2022-07-05 10:48] adriankott commented on #78
First of all thank you for the great package it's really useful for us.
Can we have an update on this ? we would like to mock dynamic urls and since even the order of query params is fixed we cannot do this at the moment.
Thanks.

[2022-07-05 12:19] nutboltu commented on #78
@tenorok @adriankott I am currently wrapping things up in launching version 3 of the addon. I have seen @tenorok already raised a PR. I will include the changes in version 3. The overall ETA would be 2-3 weeks. I would really appreciate your patience.

[2022-07-05 15:43] s1m0nDevs commented on #78
Just a suggestion - would be useful with optional property "parameters" with the value of obj/array which will not care about the consequence.
`{
url: '/someUrl',
method: 'GET',
parameters: { param1:'val1', param2: 'val2' } || [ 'param1=val1', 'param2=val2' ]
}`

[2022-07-21 16:58] kglickman opened #120 "Is this expected to work with storyshots?"
I'm using this with my storybook and all works fine but when I run with storyshots via jest, it's trying to hit a real server.

[2022-08-08 18:26] Hypnosphi commented on #44
@nutboltu but it still doesn't support named parameters, right?

[2022-08-11 22:00] amydegenaro commented on #69
You can [configure your stories to hide the panel](https://storybook.js.org/docs/react/addons/addon-knowledge-base#disable-the-addon-panel) by adding this to each story file:
[code]
Alternatively, you can add that to your global parameters in `preview.js` to disable the addon by default and then enable it for individual stories with `{ disable: false }` .

[2022-08-12 18:48] iambumblehead opened #122 "thank you -- this worked right away with no trouble (storybook, urql, vue3, graphql)"
thank you! I initially tried using an urql-specific addon and there were many issues and it didn't work. I really like that its possible to generate dynamically created responses later if I need those
[code]

[2022-08-13 04:24] bmitchinson commented on #83
Would love this feature of relative paths falling back to `window.location.origin`

[2022-08-16 11:04] ECW-HH commented on #122
Hi @iambumblehead ,
Did you use `fetch` to perform your API call in your Vue component ?
Or did you use `axios` ?

[2022-08-16 12:30] iambumblehead commented on #122
@ECW-HH I don't know how urql ultimately generates the request but I'll take a look now

[2022-08-16 12:39] iambumblehead commented on #122
https://github.com/FormidableLabs/urql/blob/main/packages/core/src/internal/fetchSource.ts#L26

I'm not sure where this "operation.context.fetch" is defined, but it is used to generate the urql request https://github.com/FormidableLabs/urql/blob/main/packages/core/src/internal/fetchSource.ts#L26

[2022-08-16 12:49] iambumblehead commented on #122
https://github.com/FormidableLabs/urql/blob/main/docs/api/core.md this document indicates "window.fetch" is used

[2022-08-26 21:29] pjaws commented on #83
This just isn't working at all for me, and I can't see a reason why.

Here's a simplified version of what I'm doing:

[code]

[code]

[code]

Screenshot of 404:
![Screen Shot 2022-08-26 at 2 16 13 PM](https://user-images.githubusercontent.com/53156002/186993212-3c8712af-67af-4a64-ad45-1ec442f269c5.png)

[2022-08-27 08:47] verissimor opened #127 "withMock returning wrong mock when similar url structure"
I'm trying to mock a server search by user name, which would be used in an autocomplete feature.

Eg.: `/api/users?name_like=a` returns users starting with **A**; and, `/api/users?name_like=b` returns starting with **B**.

However, mocks always return the last mock when trying to mock this scenario. The panel `Mock Request` also doesn't look good, only displaying the last mock.

![image](https://u

[2022-08-30 17:13] pjaws commented on #107
I'm using `swr` along with `axios` in a custom fetcher and also experiencing issues. I posted a detailed comment in another issue about relative URLs [here](https://github.com/nutboltu/storybook-addon-mock/issues/83#issuecomment-1228964441).

I'm using version `2.4.1`.

[2022-09-20 07:06] RachaneeSaeng commented on #127
I faced the same issue. My workaround was using a custom method for the response so that it gets executed and returns the right data by query parameters.
[code]

Note: you still need to setup mock for every individual URLs, just the response part that must be changed.

[2022-09-30 08:57] yormy commented on #116
would be nice indeed to have that ability

[2022-09-30 14:12] #109 closed

[2022-09-30 14:15] nutboltu commented on #110
This feature is implemented in 3.0.0.
https://storybook-addon-mock.vercel.app/?path=/story/docs-advanced-setup--page

[2022-09-30 14:15] #110 closed

[2022-09-30 14:17] nutboltu commented on #70
This feature is implemented in 3.0.0
https://storybook-addon-mock.vercel.app/?path=/story/docs-advanced-setup--page

Please use `refreshStoryOnUpdate` as true in the global parameter.

[2022-09-30 14:17] #70 closed

[2022-09-30 14:39] #69 closed

[2022-10-02 18:35] spaquis opened #131 "Duplicate Data in response"
Hey,
Thanks for your plugin, In last version 3.0.0, the data attribute appear twice  in the response when using it with axios.

<img width="1094" alt="image" src="https://user-images.githubusercontent.com/27917715/193470227-a6a9d3c3-59a0-43eb-a321-b717d140bb0b.png">

[code]

Thanks for help.

[2022-10-06 03:07] nutboltu commented on #131
@spaquis It looks good. You pass data inside the response. `response` is a JSON object expected to be returned as data in Axios. So the second `data` object is the object you passed insiide the response.

You can either pass like below

[code]

[2022-10-06 03:07] #131 closed

[2022-10-06 07:15] spaquis commented on #131
Hi @nutboltu ,
Thanks for your reply but i already tried to put [mockData] directly in response but if i do that the mock is not recognized anymore, in network i see the original request.
I make the same change in other request when the data in not an array and it's work so i think the problem appear only when the response is an array.

[2022-10-06 14:26] stof opened #132 "unresolved polished dependency"
Registering this addon in storybook triggers an error during the composer build:

[code]

It looks like this package is missing a dependency constraint.

[2022-10-06 15:00] stof opened #133 "v3 is broken when used with storybook/html"
In the v3 of the addon, `withRoundTrip` is registered as a story decorator and uses React hooks internally. This is broken when using `@storybook/html` (and probably also all apps other than `@storybook/react`) because React hooks cannot be called outside a component rendering, and the storybook story function is not invoked in such a context.

The decorator should probably use `addons.getChannel(

[2022-10-06 18:06] leandrogehlen opened #134 "Addon not working with Storybook 6.5.12 and vue"
I have created a new project using [@vue/cli](https://cli.vuejs.org/) and:
- `npx storybook init`
- `npm i storybook-addon-mock -D`

add storybook-addon-mock addon in.storybook/main.js
[code]
But the follow erros is happening:

![image](https://user-images.githubusercontent.com/1750751/194386509-97f8410f-dbd4-4101-9b52-ad9c6cae65a9.png)

[2022-10-10 01:33] nutboltu commented on #134
@leandrogehlen This is fixed in [3.2.0](https://github.com/nutboltu/storybook-addon-mock/releases/tag/3.2.0)

[2022-10-10 01:33] #134 closed

[2022-10-10 01:33] nutboltu commented on #133
@stof  This is fixed in [3.2.0](https://github.com/nutboltu/storybook-addon-mock/releases/tag/3.2.0)

[2022-10-10 01:33] #133 closed

[2022-10-10 01:34] nutboltu commented on #132
This is fixed in [3.2.0](https://github.com/nutboltu/storybook-addon-mock/releases/tag/3.2.0)

[2022-10-10 01:34] #132 closed

[2022-10-10 01:35] nutboltu commented on #131
@spaquis This is fixed in [3.2.0](https://github.com/nutboltu/storybook-addon-mock/releases/tag/3.2.0). So now it also accepts an array as a response type.

[2022-10-10 12:33] stof opened #139 "Violation of React hooks rules is reported when enabling that addon"
This warning is reported in the browser console when opening a story in storybook with this addon enabled (with version 3.2.0 of the addon)

[code]

[2022-10-11 10:56] nutboltu commented on #139
@stof  I tried with both react and vue apps and couldn't reproduce this warning. Can you provide some more details?

[2022-10-11 11:34] stof commented on #139
I'm using `@storybook/html` in case it matters

[2022-10-11 18:38] joejanuszk opened #140 "Mocked fetch does not work if fetch resource is not a URL string"
The `fetch` API supports not only strings that represent URLs, but also objects with a stringifier that provides a URL. An instance of a `URL` object is an example of such an object.

Source: https://developer.mozilla.org/en-US/docs/Web/API/fetch#parameters

However, I found that mocked requests do not work if the resource supplied to fetch is an instance of a `URL` object. For instance:

[code]

[2022-10-11 22:18] nutboltu commented on #139
@stof I also tried with the `@storybook/html` and couldn't reproduce it. Looking at the error log, it appears the error comes from the `Unknown` component, not inside the addon. Can you re-check if this error comes from the addon of an outside component?

[2022-10-11 22:23] nutboltu commented on #140
@joejanuszk In the current version of this addon, it only supports string as an URL. We can take both string and URL objects as a parameter.  I am considering this as a feature request.

Any PR is welcome :)

[2022-10-11 22:25] nutboltu commented on #127
@verissimor You can use the custom function as @RachaneeSaeng  mentioned above.

[2022-10-11 22:25] #127 closed

[2022-10-11 22:27] nutboltu commented on #120
@kglickman, this mock addon is not overriding the StoryShots.

[2022-10-12 04:55] JohnAlbin commented on #116
@yormy This missing feature was a deal breaker for me; I needed to test successful endpoint responses _and_ failures. I ended up writing my own Storybook wrapper around the fetch-mock library.

https://github.com/JohnAlbin/storybook-addon-fetch-mock

[2022-10-14 16:51] hayden-homeviews commented on #127
Just came across this issue in my own usage of storybook-addon-mock. I see there's a work-around with using the custom function, but this doesn't feel like intended behaviour. Is it not a bug that different (via query parameter) URLs mocks are effectively negating each-other if they are too similar?

[2022-10-20 05:34] s1m0nDevs opened #141 "fn.apply is not a function(hooks.js)"
![image](https://user-images.githubusercontent.com/53870756/196864301-4b85fcf0-1dc3-4256-8c6d-f55997460f25.png)
I see this error after updating to the latest version 3.2.0 from 2.4.1(see the same error on 3.0.0)

[2022-10-20 09:04] romanivna opened #142 "mockData per story works only on page refresh after upgrade to v3"
After upgrade to 3.2 mockData working only once when you refresh the page on certain story.
When switching between stories - it doesn't work anymore and I got 404 on request.
Meanwhile, the global overrides supposed to be working for all stories, but they also works only for the first one

So there's the code of `component.stories.ts`.

[code]

So when I arrive on the page - no request, everything

[2022-10-20 11:48] s1m0nDevs commented on #141
Ok, so a couple of issues I found when was trying to investigate that issue.
First of all the weirdest specific bug was related to my own interceptors. For some reason, I can only use custom headers with `string` data, otherwise, that somehow conflicts with the current package. So I have to change it to string.
![image](https://user-images.githubusercontent.com/53870756/196939068-8d6b9585-812b-46d

[2022-10-20 11:48] #141 closed

[2022-10-24 10:26] s1m0nDevs commented on #78
Any updates?

[2022-11-02 21:28] flying3615 opened #144 "Need to bump version of mock-xmlhttprequest to include creating blob bug fix"
Since the this repo still depends on a buggy version of mock-xmlhttprequest, it needs to bump to the latest version.
https://github.com/nutboltu/storybook-addon-mock/blob/ca710d41c80686a8c38041a6a9cbcfadb4d49a93/packages/mock-addon/package.json#L47

Bug report and has been fix in 8.0.0
https://github.com/berniegp/mock-xmlhttprequest/issues/31

[2022-11-03 09:45] isqua opened #145 "Add a way to disable delay in runtime for all mocked requests"
Very useful plugin, thank you! I use it in many components to show loading and saving processes.

I also write screenshot tests on my Storybook components. I have to synchronize mock delay time and pause in my tests, which causes the tests to take a bit longer to run.

Usually, I would like to have no delays in my tests. So I would like to be able to turn off all delays in mocked request. For exam

[2022-11-16 16:45] mikestu opened #148 "Storybook v7 support?"
Storybok v7 is currently alpha, with beta targeted for this quarter (before end of year), and stable first quarter of next year.  We would like to begin using v7 alpha, as it has much better Vite support.  It works for us on all stories except the ones requiring this addon, and it appears that changes must be needed for it to support v7.  Any chance of putting out an alpha release of storybook-add

[2022-11-24 01:47] nutboltu commented on #145
@isqua, you can set up the delay time from the addon panel. However, it won't fix your problem as we are using setTimeout even though the delay time is 0. I have to raise a PR to fix this issue. Any PR from your end will also welcome :)

[2022-11-24 01:48] nutboltu commented on #148
I haven't tried v7. I might need sometime to investigate further on v7

[2022-11-24 01:49] nutboltu commented on #144
Fixed in #143

[2022-11-24 13:27] isqua commented on #145
@nutboltu, thank you for the response! Is it a way to change the value programmatically? `setTimeout` with `0` is not the issue for me, I just would to reduce the time needed for load data in tests.

[2022-11-24 18:04] nutboltu commented on #145
There are no global types for that, as this is a special case. I would recommend using a separate mock data list for the load tests and using delay 0 in that mock data.

[2022-11-25 09:36] isqua commented on #145
Yes, I am going to use something like this:

[code]

and the `adjustTimers` will reset timers based on the environment. I just looking for a more native way :)